footer {
    padding: 5% 0%;
    background-color: #FFF;
    display: flex;
    flex-flow: column;
    p {
        font-size: 1em;
        color: $text;
        letter-spacing: 0;
        line-height: 22px;
        text-align: center;
    }
    .icons-footer{
        padding: 5% 20% 0%;
        display: flex;
        justify-content: space-between;
        i{
            font-size: 1em;
            color: $text;
            line-height: 28px;
        }
    }
}
@media screen and (min-width: 1200px) {
    footer{
        flex-flow: row;
        justify-content: space-between;
        padding: 2% 7%;
        .icons-footer{
            width: 10%;
            padding: 0%;
        }
    }
}
