#inicio {
    padding: 5% 5%;
    background-color: #FFF;
    h2 {
        font-size: 4em;
        letter-spacing: 0px;
    }
    span {
        text-decoration-line: line-through;
    }
    #punto {
        text-decoration-line: none;
        color: $blue;
    }
    p {
        font-size: 1em;
        line-height: 24px;
        letter-spacing: 0px;
        margin-top: 3%;
        margin-bottom: 7%;
    }
    a {
        font-size: 1em;
        text-align: center;
        line-height: 22px;
        color: $text;
        text-decoration: none;
        width: 100%;
        display: block;
        padding: 3% 0%;
        background-color: $textHover;
        &:hover {
            background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
            color: #fff;
        }
    }
}
#episodios {
    width: 100%;
    clip-path: polygon(0% 5%, 100% 0, 100% 95%, 0 100%);
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    padding: 20% 5% 50%;
    h2 {
        font-size: 3em;
        letter-spacing: 0px;
        color: #fff;
        margin-bottom: 4%;
    }
    div{
        iframe{
                width:100%;
                height:232px; 
                frameborder:0; 
                allowtransparency:true;
        }
    }
}
#de-donde-venimos {
    padding: 0% 5%;
    background-color: #FFF;
    img {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: -35%;
    }
    h2 {
        font-size: 3em;
        letter-spacing: 0px;
        line-height: 42px;
        color: $text;
        margin: 5% 0;
        width: 80%;
    }
    p {
        font-size: 1em;
        color: $text;
        letter-spacing: 0;
        line-height: 22px;
        margin-bottom: 20%;
    }
}
#invitados {
    background-color: #FFF;
    h2 {
        font-size: 3em;
        letter-spacing: 0px;
        color: $text;
        padding: 0% 5%;
        margin-bottom: 5%;
    }
    .images {
        width: 100%;
        display: flex;
        flex-flow: column;
        img {
            width: 100%;
            margin: unset;
        }
    }
}
#temas {
    margin-top: 9%;
    padding: 0% 5%;
    margin-bottom: 10%;
    background-color: #FFF;
    h2 {
        font-size: 3em;
        letter-spacing: 0px;
        color: $text;
        margin-bottom: 10%;
        width: 90%;
    }
    .contenedor {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        div{
            text-align: center;
        }
        img{
            width: unset;
        }
        h3 {
            font-size: 1.5em;
            color: $text;
            letter-spacing: 0;
            padding: 1% 15%;
            text-align: center;
            margin-bottom: 10%;
        }
    }
}
#novedades{
    clip-path: polygon(0% 10%, 100% 0, 100% 100%, 0 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    padding: 20% 5%;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    h2{
        font-size: 3em;
        letter-spacing: 0px;
        color: #FFF;
        margin-bottom: 5%;
        text-align: center;
        margin-bottom: 10%;
        width: 90%;
    }
    a {
        font-size: 1em;
        text-align: center;
        line-height: 22px;
        color: $text;
        text-decoration: none;
        width: 100%;
        display: block;
        padding: 3% 0%;
        background-color: $textHover;
        &:hover {
            background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
            color: #fff;
        }
    }
}
@media screen and (min-width: 1200px) {
    #inicio{
        padding: 10% 10% 0%;
        p{
            width: 40%;
            margin-bottom: 4%;
            margin-top: 0%;
        }
        a{
            padding: 1% 0;
            width: 15%;
        }
    }
    #episodios{
        padding: 10% 5% 15%;
        clip-path: polygon(0% 10%, 100% 0, 100% 95%, 0 100%);
        h2{
            padding-left: 5%;
        }
        div{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            iframe{
                width: 48%;
                margin-bottom: 5%;
            }
        }
        
    }
    #de-donde-venimos{
        padding: 0% 15%;
        display: flex;
        img{
            width: unset;
            margin-top: -15%;
            margin-right: 5%;
        }
        div{
            margin-top: 5%;
            width: 35%;
        }
        h2{
            width: 100%;
        }
    }
    #invitados{
        h2{
            padding-left: 10%;
            margin-bottom: 1%;
        }
        .images{
            flex-flow: row wrap;
            img{
                width: 33.33%;
            }
        }
    }
    #temas{
        margin-top: 3%;
        padding: 0% 10%;
        margin-bottom: 1%;
        h2{
            margin-bottom: 5%;
        }
        .contenedor{
            flex-flow: row wrap;
        }
        h3{
            margin-bottom: 0%;
        }
    }
    #novedades{
        padding: 10% 5%;
        clip-path: polygon(0% 20%, 100% 0, 100% 100%, 0 100%);
        h2{
            margin-bottom: 2%;
        }
        a{
            padding: 1% 0%;
            width: 20%;
        }
    }
    
}
